
$primary-color: #f188a7;
$radient-background: radial-gradient($primary-color 20%, #8f375f);

body {
    background: $radient-background;
    margin: 0px;
    padding: 0px;
    height: 100vh;

    .content {
        img {
            position: absolute;
            left: 25%;
            top: 10%;
            width: 60vw;
            min-width: 400px;
            max-width: 800px;
            box-shadow: 17px 17px 59px -10px rgba(0,0,0,0.75);
        }
    }

}

